<div id="tableau">
  <div id="type">
    <p align="right">Total members:2000 Current used:1800</p>
    <a href="#" class="button">Members</a>
    <a href="#" class="button">Admins</a>
  </div>
  <br>

  <div id="tools">
    <div id="section">
      <h3>Members</h3>
    </div>
    <div id="bouton1">
	     <a href="#" class="button">Add New</a>
    </div>
    <div id="bouton2">
	     <a href="#" class="button">Import members</a>
    </div>
    <div id="bouton3">
       <a href="#" class="button">Export members (Excel)</a>
    </div>
    <div id="bouton4">
	     <a href="#" class="button">Filter</a>
    </div>
  </div>

  <div id="resultat">
    <br><br><br><br><br>
    <table>
      <tr>
        <th>Photo</th>
        <th>Member name</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Status</th>
        <th>Operation</th>
        <th>Action</th>
      </tr>
      <tr>
       <td>Photo 1</td>
       <td>George Lindelof</td>
       <td>+4 315 23 62</td>
       <td>carisen@armand.no</td>
       <td>Active</td>
       <td><button>Ajouter note</button><button>Editer</button><button>Supprimer</button></td>
       <td><a href="#" class="button">Login</a></td>
      </tr>
      <tr>
       <td>Photo 2</td>
       <td>Eric Dyer</td>
       <td>+2 134 25 65</td>
       <td>cristofer.ajer@lone.no</td>
       <td>Active</td>
       <td><button>Ajouter note</button><button>Editer</button><button>Supprimer</button></td>
       <td><a href="#" class="button">Login</a></td>
      </tr>
      <tr>
       <td>Photo 3</td>
       <td>Haitam Alessami</td>
       <td>+1 345 22 21</td>
       <td>haitam@gmail.com</td>
       <td>Active</td>
       <td><button>Ajouter note</button><button>Editer</button><button>Supprimer</button></td>
       <td><a href="#" class="button">Login</a></td>
      </tr>
      <tr>
       <td>Photo 4</td>
       <td>Michael Campbel</td>
       <td>+1 756 52 73</td>
       <td>camp@hotmail.com</td>
       <td>Inactive</td>
       <td><button>Ajouter note</button><button>Editer</button><button>Supprimer</button></td>
       <td><a href="#" class="button">Login</a></td>
      </tr>
    </table>
  </div>
</div>
