
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  #tableau{
    position: absolute;
    margin-left: 20%;
    width:80%;
    background-color: #F0F0F5;
  }

  #haut{
    position: relative;
  }

  #type{
    position: relative;
  }

  #tools{
    position: relative;
  }

  #section{
    position: absolute;
  }

  #bouton1{
    position: absolute;
    margin-left: 15%;
  }

  #bouton2{
    position: absolute;
    margin-left: 35%;
  }

  #bouton3{
    position: absolute;
    margin-left: 55%;
  }

  #bouton4{
    position: absolute;
    margin-left: 90%;
  }

  #type .button {
      Color:grey;
      padding: 10px 50px;
      margin:10px 4px;
      Color:white;
      font-family: sans-serif;
      text-align: center;
      position: relative;
      text-decoration: none;
      display:inline-block;
      background-color: #FFFFFF;
      border:1px solid transparent;
  }
  #type .button{
      Color:grey;
      border:1px solid transparent;
  }
  #type .button:hover::after {
    Color:black;
    width:100%;
  }
  #type .button:hover{
      Color:black;
      border-bottom:3px solid #2020DC;
  }

  #bouton1 .button {
      Color:white;
      padding: 10px 40px;
      margin:10px 4px;
      Color:white;
      font-family: sans-serif;
      text-align: center;
      position: relative;
      text-decoration: none;
      display:inline-block;
      background-color: #2121E3;
      border:1px solid transparent;
      border-radius: 10px;
  }
  #bouton1 .button{
      Color:white;
      border:1px solid transparent;
  }
  #bouton1 .button:hover::after {
    Color:white;
    width:100%;
  }
  #bouton1 .button:hover{
      Color:white;
      background-color: #5353DF;
  }

  #bouton4 .button {
      Color:white;
      padding: 10px 40px;
      margin:10px 4px;
      Color:white;
      font-family: sans-serif;
      text-align: center;
      position: relative;
      text-decoration: none;
      display:inline-block;
      background-color: #2121E3;
      border:1px solid transparent;
      border-radius: 10px;
  }
  #bouton4 .button{
      Color:white;
      border:1px solid transparent;
  }
  #bouton4 .button:hover::after {
    Color:white;
    width:100%;
  }
  #bouton4 .button:hover{
      Color:white;
      background-color: #5353DF;
  }

  #bouton2 .button {
      Color:#5A5A5A;
      padding: 10px 40px;
      margin:10px 4px;
      Color:white;
      font-family: sans-serif;
      text-align: center;
      position: relative;
      text-decoration: none;
      display:inline-block;
      background-color: #FFFFFF;
      border:1px solid transparent;
      border-radius: 10px;
  }
  #bouton2 .button{
      Color:#5A5A5A;
      border:1px solid transparent;
  }
  #bouton2 .button:hover::after {
    Color:white;
    width:100%;
  }
  #bouton2 .button:hover{
      Color:white;
      background-color: #5353DF;
  }

  #bouton3 .button {
      Color:#5A5A5A;
      padding: 10px 40px;
      margin:10px 4px;
      Color:white;
      font-family: sans-serif;
      text-align: center;
      position: relative;
      text-decoration: none;
      display:inline-block;
      background-color: #FFFFFF;
      border:1px solid transparent;
      border-radius: 10px;
  }
  #bouton3 .button{
      Color:#5A5A5A;
      border:1px solid transparent;
  }
  #bouton3 .button:hover::after {
    Color:white;
    width:100%;
  }
  #bouton3 .button:hover{
      Color:white;
      background-color: #5353DF;
  }

  #resultat .button {
      Color:white;
      padding: 10px 40px;
      margin:10px 4px;
      Color:white;
      font-family: sans-serif;
      text-align: center;
      position: relative;
      text-decoration: none;
      display:inline-block;
      background-color: #2121E3;
      border:1px solid transparent;
      border-radius: 10px;
  }
  #resultat .button{
      Color:white;
      border:1px solid transparent;
  }
  #resultat .button:hover::after {
    Color:white;
    width:100%;
  }
  #resultat .button:hover{
      Color:white;
      background-color: #5353DF;
  }

  table {
    table-layout: fixed;
    width: 100%;
  }

  td, th {
    width: 50%;
  }

  p {
    margin: 0;
  }

  .espace {
    flex: 0.1;
  }

  .spacer {
    flex: 0.5;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #cloche {
    height: 30px;
    margin: 0 16px;
  }


  .toolbar #cloche:hover {
    opacity: 0.8;
  }
