<div style="...">
  <h1>
    <!-- header -->
    <app-header></app-header>

    <!-- menu -->
    <app-menu></app-menu>

    <!-- tableau -->
    <app-tableau></app-tableau>

    <!-- routes will be rendered here -->
    <router-outlet></router-outlet>
  </h1>
  </div>
