
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  #menu{
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: #7F65CF;
  }

  .button {
      padding: 15px 100px;
      margin:10px 4px;
      Color:white;
      font-family: sans-serif;
      text-align: center;
      position: relative;
      text-decoration: none;
      display:inline-block;
  }

  .button{
      border:1px solid transparent;
      -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
      transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  }

  .button::before {
      content: '';
      position: absolute;
      left: 0px;
      bottom:0px;
      z-index:-1;
      width: 0%;
      height:1px;
      background: #003177;
      box-shadow: inset 0px 0px 0px #b6cdef;
      display: block;
      -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
      transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
  }

  .button:hover::before {
      width:100%;
  }

  .button::after {
      content: '';
      position: absolute;
      right: 0px;
      top:0px;
      z-index:-1;
      width: 0%;
      height:1px;
      background: #a9c1e8;
      -webkit-transition: all 0.4s cubic-bezier(.7, .25, 0, 1);
      transition: all 0.4s cubic-bezier(.7, .25, 0,1)
  }

  .button:hover::after {
    width:100%;
  }

  .button:hover{
      Color:white;
      border-left:3px solid #FFFFFF;
      border-right:3px solid #FFFFFF;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 0.5;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #cloche {
    height: 30px;
    margin: 0 16px;
  }


  .toolbar #cloche:hover {
    opacity: 0.8;
  }
