<div id="menu">
  <a href="#" class="button">Profile</a>
  <a href="#" class="button">Users</a>
  <a href="#" class="button">Control panel</a>
  <a href="#" class="button">Projects</a>
  <a href="#" class="button">Tasks</a>
  <a href="#" class="button">Logs</a>
  <a href="#" class="button">Group chats</a>
  <a href="#" class="button">Reports</a>
</div>
