<div class="toolbar" role="banner">
  <div class="espace"></div>
  <h1>LOGO</h1>
  <div class="spacer"></div>
  <div id="zone_recherche">
    <input type="search" id="maRecherche" name="search" placeholder="Search...">
    <input id="bouton_recherche" type="image" src="../assets/images/bouton_recherche.png" alt="Rechercher" />
  </div>
  <div class="spacer"></div>
  <img id="cloche" src="../assets/images/cloche.png"/>
  <input id="profil" type="button" value="Voir mon profil"/>
</div>
