
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  #zone_recherche {
	   width: 260px;
	   position: relative;
  }

  #maRecherche {
	   width: 260px;
	   padding: 10px 50px 10px 10px;
	   background-color: white;
	   border: solid 1px #7a5440;
	   -moz-border-radius: 10px;
	   -webkit-border-radius: 10px;
	   -o-border-radius: 10px;
	   border-radius: 10px;
	   font-family: arial, verdana, sans-serif;
	   font-size: 14px;
	   color: blue;
  }

  #maRecherche:focus {
	   background-color: rgba(0,0,0,0.8);
	   outline: 0 none;
	   color: #fff;
  }

  #bouton_recherche {
	   margin-top: -16px;
	   position: absolute;
	   top: 50%;
	   right: 10px;
  }

  #profil {
      background-color: #4B157A;
      padding: 15px 50px;
      margin:10px 4px;
      cursor: pointer;
      text-transform: uppercase;
      text-align: center;
      position: relative;
  }

  #profil:hover {
      opacity:0.5;
  }

  .espace {
    flex: 0.1;
  }

  .spacer {
    flex: 0.5;
  }

  .toolbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #6830CF;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #cloche {
    height: 35px;
    margin: 0 16px;
  }


  .toolbar #cloche:hover {
    opacity: 0.5;
  }
